.update-album{
    width: 350px;
    margin: auto;
    padding-top: 73px;
    color: white;
}
.form-container{
    background-color: #478AC9;
    padding: 10px;
    margin-top: 50px;
}
.inp-container{
    margin: 10px;
}
.form-container button{
    background-color: green;
    padding: 10px 20px;
    color: white;
}